// Place all the styles related to the finder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
    width: 895px;
    margin: 0 5px;
    padding: 5px;
    border: solid 2px;
    background-color: #FFFFFF;
}
#mainContainer{
    width: 800px;
    float: left;
    .product{
        border: solid 2px;
        width: 200px;
        height: 300px;
        float: left;
        margin: 5px;
        padding: 15px;
        background-color: #FFFFFF;
    }
}

.clear {
    clear: both;
}

#mainNav{
    width: 895px;
    height: 25px;
    border: solid 2px;
    margin: 0 5px;
    padding: 5px;
    clear: both;
    background-color: #FFFFFF;
}

#sideNav{
    margin: 5px;
    width: 175px;
    height: 700px;
    border: solid 2px;
    float: left;
    background-color: #FFFFFF;
}

#singleProduct, .product{
    img{
        width: 200px;
        height: 150px;
    }   
}