// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#CMS{
    width: 685px;
    height: 670px;
    margin: 8px;
    padding: 15px;
    background-color: #FFFFFF;
    
}